*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 7.5vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: #CCC;
    gap: var(--cell-gap);
    border: 1vmin;
    padding: var(--cell-gap);
    position: relative;
}

.cell {
    background-color: #AAA;
    border-radius: 1vmin;
}

.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    background-color: hsl(112, 50%, var(--background-lightness));
    color: hsl(116, 25%, var(--text-lightness));
    animation: show 220ms ease-in-out;
    transition: 110ms ease-in-out;
}

@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0)
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.gameover-alert {
    margin: 35vh auto;
    padding: 0.85em;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 1.5s ease-in-out;
}

.gameover-alert .gameover-close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 7.5vmin;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.gameover-alert .gameover-close:hover {
    color: #06D85F;
}

.gameover-alert .gameover-text {
    max-height: 30%;
    font-size: 7.5vmin;
    overflow: auto;
}