*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial;
}

body.dark {
    background-color: #1d1544;
}

h1 {
    font-size: 1.45vh;
    font-family: 'Rock Salt', cursive;
    margin: 1rem;
    color: #242431;
}

body.dark h1 {
    color: #f0f0f0;
}

#game-container {
    padding: 2vh;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

#heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff673;
    padding: 0 3vh;
    border-radius: 1em 1em 0px 0px;
}

body.dark #heading-container {
    background-color: #242431;
}

#heading-controls {
    margin-left: auto;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #242431;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 7px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.dark .checkbox-label {
    background-color: #eee;
}

.checkbox-label .ball {
    background-color: rgb(255, 240, 101);
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

body.dark .checkbox-label .ball {
    background-color: #424298;
}

.checkbox:checked+.checkbox-label .ball {
    -webkit-transform: translateX(24px);
    -moz-transform: translateX(24px);
    -o-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);

    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    -ms-transition: -ms-transform 0.5s;
    transition: transform 0.5s;
}

.fa-moon {
    color: #0591f5;
}

.fa-sun {
    color: #ffdb0f;
}

#board-container {
    display: flex;
}

#board {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: #a9a8b5;
    gap: var(--cell-gap);
    border: 1vmin;
    padding: var(--cell-gap);
    position: relative;
    align-content: space-evenly;
}

/* body.dark #board {
    background-color: #ccc; */
/* } */


.cell {
    background-color: #ccc;
    border-radius: 1vmin;
}

.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7.5vmin;
    font-family: Arial;
    font-weight: bold;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    background-color: hsl(58, 55%, var(--background-lightness));
    color: hsl(116, 25%, var(--text-lightness));
    animation: show 180ms ease-in-out;
    transition: 110ms ease-in-out;
    -webkit-animation: show 180ms ease-in-out;
    -webkit-transition: 110ms ease-in-out;
    -moz-animation: show 180ms ease-in-out;
    -moz-transition: 110ms ease-in-out;
    -o-animation: show 180ms ease-in-out;
    -o-transition: 110ms ease-in-out;
    -ms-animation: show 180ms ease-in-out;
    -ms-transition: 110ms ease-in-out;
}

body.dark .tile {
    background-color: hsl(200, 50%, var(--background-lightness));
}

@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }

    10% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes show {
    0% {
        opacity: 0.5;
        -webkit-transform: scale(0);
    }

    10% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes show {
    0% {
        opacity: 0.5;
        -moz-transform: scale(0);
    }

    10% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}

@-o-keyframes show {
    0% {
        opacity: 0.5;
        -o-transform: scale(0);
    }

    10% {
        opacity: 1;
        -o-transform: scale(1);
    }
}

@-ms-keyframes show {
    0% {
        opacity: 0.5;
        -ms-transform: scale(0);
    }

    10% {
        opacity: 1;
        -ms-transform: scale(1);
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
    -ms-transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.gameover-alert {
    margin: 35vh auto;
    padding: 0.75em;
    background: #fff;
    border-radius: 1vmin;
    font-size: 7.5vmin;
    width: 40%;
    position: relative;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

.gameover-alert .gameover-close {
    position: absolute;
    top: 0.15em;
    right: 0.35em;
    transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    -webkit-transition: all 200ms;
    -ms-transition: all 200ms;
    font-size: 7.5vmin;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.gameover-alert .gameover-close:hover {
    color: #06D85F;
}

.gameover-alert .gameover-text {
    max-height: 30%;
    font-size: 7.5vmin;
    overflow: auto;
}